*.apk
*.aar
*.aab

*.dex
*.class

/build/
*/build/
app/build/

.gradle/

local.properties
/local.properties

key.properties
/key.properties
**/key.properties
*.jks
*.keystore
*.p12
*.key
*.pem
*.p8
*.pepk

*.log

.navigation/
/captures/

*.iml
.idea/
/.idea/
*.iws
*.ipr

.DS_Store
Thumbs.db
*.swp
*~

.externalNativeBuild
.cxx/

*.hprof
*.trace
/reports/
/lint/
